In [63]:
import pandas as pd
import numpy as np
path = 'ACSST5Y2018.S1501_data_with_overlays_2020-05-02T194012.csv'
cols_list = ['GEO_ID','NAME','S1501_C01_019E', 'S1501_C01_019M', 'S1501_C01_020E', 
             'S1501_C01_020M', 'S1501_C01_021E', 'S1501_C01_021M']
zips_df = pd.read_csv(path, usecols=cols_list).drop(0)
# zips_df[zips_df['S1501_C01_016M']=='*****']
zips_df = zips_df.replace({'*****':0})
zips_df = zips_df.astype({'S1501_C01_019E': 'int32','S1501_C01_019M': 'int32',
                'S1501_C01_020E': 'int32','S1501_C01_020M': 'int32',
                'S1501_C01_021E': 'int32','S1501_C01_021M': 'int32',
               })
zips_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33120 entries, 1 to 33120
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   GEO_ID          33120 non-null  object
 1   NAME            33120 non-null  object
 2   S1501_C01_021E  33120 non-null  int32
 3   S1501_C01_021M  33120 non-null  int32
 4   S1501_C01_019E  33120 non-null  int32
 5   S1501_C01_019M  33120 non-null  int32
 6   S1501_C01_020E  33120 non-null  int32
 7   S1501_C01_020M  33120 non-null  int32
dtypes: int32(6), object(2)
memory usage: 1.5+ MB

/home/jjavier1/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (11,12,755,756,767,768) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [64]:
# Check error propagation calculation in dataframe where errSum = sqrt( err1**2 + err2**2) )
zips_df['Error Check'] = np.sqrt(np.square(zips_df['S1501_C01_020M']) + np.square(zips_df['S1501_C01_021M']))
zips_df

,GEO_ID,NAME,S1501_C01_021E,S1501_C01_021M,S1501_C01_019E,S1501_C01_019M,S1501_C01_020E,S1501_C01_020M,Error Check
1,8600000US00601,ZCTA5 00601,416,138,1938,120,1389,146,200.897984
2,8600000US00602,ZCTA5 00602,1155,206,4806,4,3569,260,331.716747
3,8600000US00603,ZCTA5 00603,1875,264,6285,205,5183,243,358.810535
4,8600000US00606,ZCTA5 00606,96,85,860,54,576,117,144.616735
5,8600000US00610,ZCTA5 00610,764,231,3473,80,2761,224,321.771658
...,...,...,...,...,...,...,...,...,...
33116,8600000US99923,ZCTA5 99923,0,9,0,9,0,9,12.727922
33117,8600000US99925,ZCTA5 99925,15,10,88,20,86,19,21.470911
33118,8600000US99926,ZCTA5 99926,11,10,158,35,141,33,34.481879
33119,8600000US99927,ZCTA5 99927,0,9,0,9,0,9,12.727922
33120,8600000US99929,ZCTA5 99929,73,29,208,41,206,41,50.219518